
/* Misc tweaks */
div.warning, .warning { color: #333; }
.item-list .pager li { display: inline-block; }
.pagination .current { background-color: #fab700; }
.pagination .current  a { color: #fff; }

@media screen and (min-width: 40em) {
  main.row { min-height: 500px; }
}
tbody tr:nth-child(even),
tr.even, tr.odd { background: none; border-bottom: 1px solid #eee; }

.callout.success { background-color: #fff; }
.filter-help { display: none; }

